<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.servoy.eclipse.docgenerator.docgenerator">
         <docgenerator
               class="com.servoy.eclipse.docgenerator.client.DesigntimeDocumentationGenerator">
         </docgenerator>
         <docgenerator
               class="com.servoy.eclipse.docgenerator.generators.DefaultDocumentationGenerator">
         </docgenerator>
         <docgenerator
               class="com.servoy.eclipse.docgenerator.client.MethodTemplatesXmlGenerator">
         </docgenerator>
         <docgenerator
               class="com.servoy.eclipse.docgenerator.client.MethodTemplatesPropertiesGenerator">
         </docgenerator>
         <docgenerator
               class="com.servoy.eclipse.docgenerator.client.MarkersXmlGenerator">
         </docgenerator>
   </extension>
   <extension
         id="com.servoy.eclipse.docgenerator.client.default"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.servoy.eclipse.docgenerator.generators.DefaultDocumentationGenerator">
         </run>
      </application>
   </extension>
   <extension
         id="docgenerator.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.servoy.eclipse.docgenerator.default.application"
            name="Documentation Generator">
         <property
               name="DocumentationGenerator"
               value="Documentation Generator">
         </property>
      </product>
   </extension>
   <extension
         id="com.servoy.eclipse.docgenerator.client.designtime"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.servoy.eclipse.docgenerator.client.DesigntimeDocumentationGenerator">
         </run>
      </application>
   </extension>
   <extension
         id="com.servoy.eclipse.docgenerator.client.markers"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.servoy.eclipse.docgenerator.client.MarkersXmlGenerator">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.servoy.eclipse.docgenerator.client.default"
            name="Documentation Generator">
         <property
               name="appName"
               value="Documentation Generator">
         </property>
      </product>
   </extension>
   <extension
         id="com.servoy.eclipse.docgenerator.client.method_xml"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.servoy.eclipse.docgenerator.client.MethodTemplatesXmlGenerator">
         </run>
      </application>
   </extension>
   <extension
         id="com.servoy.eclipse.docgenerator.client.method_properties"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.servoy.eclipse.docgenerator.client.MethodTemplatesPropertiesGenerator">
         </run>
      </application>
   </extension>
</plugin>
